h1 {
  font-family: samantha-upright, sans-serif;
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: miller-text, serif;
  font-weight: normal;
  font-style: normal;
}

.recipe-name, .recipe-info, .instructions, .servings, .secondary {
  font-family: nimbus-sans, sans-serif;
  font-weight: normal;
  text-align: center;
}

.recipe-info, .servings, .secondary {
  font-weight: lighter;
}

.instructions {
  font-weight: bolder;
}

.guideline, .secondary {
  text-align: justify;
  text-align: left;
}

.contents, .button, .footer {
  text-align: center;
}

.text-info {
  text-align: justify;
}

.recipe-1, .recipe-2, .recipe-3, .recipe-4, .button {
  position: absolute;
}

h1, h2 {
  text-align: center;
}

img {
  max-width: 600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-1, .recipe-2, .recipe-3, .recipe-4 {
  position: relative;
}

.recipe-name {
  background-color: #fff;
}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
  }

}
